@(vv: model.ViewValueTodoList)(implicit request: RequestHeader, messages: Messages)
@common.Default(vv){
  @helper.form(action = routes.TodoListController.create()) {
    @helper.CSRF.formField
    @helper.inputText(vv.createForm("title"), Symbol("_label") -> "タイトル")
    @helper.textarea(vv.createForm("body"), Symbol("_label") -> "本文")
    @helper.select(vv.createForm("categoryId"), vv.categories, Symbol("_label") -> "カテゴリ")
    <button type="submit">作成</button>
  }
  <table>
    <thead>
      <tr><th>タイトル</th><th>本文</th><th>ステータス</th><th>カテゴリ</th></tr>
    </thead>
    <tbody>
    @for(todo <- vv.todos) {
      <tr>
        <td>@todo.title</td>
        <td>@todo.body</td>
        <td>@todo.stateLabel</td>
        <td class="@todo.colorClass">@todo.categoryName</td>
      </tr>
    }
    </tbody>
  </table>
}
